{% extends 'admin/change_list.html' %}

{% block content_title %}
    <h1>Плановая загрузка по проектам, %</h1>
    <p>Проекты: {{ projects | join:", " | default:"не выбраны" }}</p>
{% endblock %}

{% block result_list %}

<div class="results">
  <table>
    <thead>
      <tr>
        <th>
          <div class="text">
            <a href="#">Участник проекта</a>
          </div>
        </th>
        {% for m in months %}
        <th>
          <div class="text" align="right">
            <a href="#">{{ m | date:"Y.m" }}</a>
          </div>
        </th>
        {% endfor %}
      </tr>
    </thead>
    <tbody>
        {% for row in summary %}
        <tr class="{% cycle 'row1' 'row2' %}">
            <td> {{ row.name }} </td>
            {% for b in row.booking %}
            <td align="right">
                {% if b.load < 100 %}<strong>{% endif %}
                {{ b.load | default:'' | floatformat:2 }}
                {% if b.load < 100 %}</strong>{% endif %}
            </td>
            {% endfor %}
        </tr>
        {% endfor %}
      </tbody>
  </table>
</div>

{% endblock %}

{% block pagination %}{% endblock %}